{{!-- THIS IS THE LOGIN SCREEN 

CONSISTS OF A FULL PAGE SPREAD OF OUR LOGO AND SOME PRETTY BACKGROUND

HERE WILL BE A LOGIN AND SIGN UP OPTION FOR NEW USERS--}}

<main>
    <h1 class="mainLogo">Mango Messenger</h1>
    <mango class="indexStyles">
        <div class="login">
            <div class="loginHeader">
                <h3>Already a member?</h3>
                <h3>Login Below!</h3>
            </div>
            <div class="loginFormContainer">
                {{!-- Sends post data from the form --}}
                <form class="loginForm" action="/login" method="POST">
                    <input name="email" type="email" placeholder="Enter your email address...">
                    <input name="password" type="password" placeholder="Enter your password...">
                    <button>Login</button>
                </form>
            </div>
        </div>
        {{!-- rightside box that lets new users create an account --}}
        <div class="register">
            <div class="registerHeader">
                <h3>New Here?</h3>
                <h3>Register Below!</h3>
            </div>
            <div class="registerFormContainer">
                {{!-- Sends post data from the form --}}
                <form class="registerForm" action="/register" method="POST">
                    <input name="username" type="text" placeholder="Create your Username...">
                    <input name="email" type="email" placeholder="Enter your email address...">
                    <input name="password" type="password" placeholder="Enter your password...">
                    <button>Register</button>
                </form>
            </div>
        </div>
    </mango>
</main>








