
{{!-- This is the main dashboard that a user loads into after the user logs in

The user will have visible to them a header with nav bar. From there the user can click on them to navigate to other pages --}}

<header class="mangoHeader">
    <h1>Mango Messaging</h1>
    <nav>
        <a class="logout" href="/logout">Logout</a>
    </nav>
</header>

<div id="greetingDiv" class="greeting">
    <p>Welcome back {{username}}, join the chats below, or create a new one!</p>
    <button id="newGroupChatBtn">Create a new Group Chat!</button>
</div>
{{!-- From there the user will have to things visible to them, one to the left that takes up the bulk of the page, as well as a list of usernames to the right --}}
<main class="dashboardContainer">
    {{!-- Left section contains open group chats where anyone can participate. Clicking on one will let you join in. --}}
    <div class="conversationContainer">
        {{#each conversations}}
        <div>
            <h2 class="conversation-name" id="{{this.conversation_id}}">{{this.conversation_name}}</h2>
        </div>
        {{/each}}
    </div>

    
    {{!-- Contains the userbase --}}
    <div class="userContainer">
        {{!-- For each user, render them on the page. Get this working at a basic level.
        Then later on, display them with online users at the top (with an icon) and offline users at the bottom --}}
        <h2>Userbase</h2>
        <ul class="userBase">
            {{#each userBase}}
                <li>{{this.username}}</li>
            {{/each}}
        </ul>
    </div>

</main>

<script src="/js/conversation.js"></script>